<div class="component lightbox-wrapper">
	<div class="lightbox-inner component-inner">
        <button role="button" class="button">X</button>
        <div class="lightbox-content-wrap">
        </div>
	</div>
</div>
